@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid red; */
}

:root{
  --primary_color: #271F8C;
  --secondary_color: #0084F1;
  --title_color: #F9F9F9;
  --subtitle_color: #0073D2;
  --title_shadow: -4px 4px 7px rgba(0,0,0,0.3);
  --subtitle_shadow: -4px 4px 7px rgba(0,0,0,0.2);
  --footer_color: #1D1C1C;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* html, body {width: auto!important; overflow-x: hidden!important}  */
body {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

/*------------- Navbar ----------------  */
.navbar{
  width: 100%;
  height: 6.8rem;
  display: grid;
  grid-template-columns: 10rem 1fr 1fr  10rem;
  background-color: var(--primary_color);
  position: fixed;
  margin-top: 1rem;
  z-index: 1000;
  /* border: 2px solid red; */
}
.logo{
  display: grid;
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
  font-size: 3rem;
  color: var(--title_color);
  font-family: 'Dancing Script', 'cursive';
  /* border: 2px solid red; */
}
.menu{
  grid-column: 3/4;
  height: 6.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: .6rem;
  font-size: 2rem;
  color: #fff;
  /* border: 2px solid red; */
}
.navbar .menu .anc{
  font-size: 2rem;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  position: relative;
  /* border: 2px solid red; */
}
.menu .anc::before{
  content: "";
  position: absolute;
  top: .2rem;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: .2rem solid var(--secondary_color);
  transition: all 0.5s linear;
}
.menu .anc::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 100%;
  border-top: .2rem solid var(--secondary_color);
  transition: all 0.5s linear;
}
.menu .anc:hover::before{
width: 100%;
}
.menu .anc:hover::after{
width: 100%;
}

.togglerIcon img{
  width: 4rem;
  height: auto;
}
.menuIcon{
  grid-column: 4/5;
  display: grid;
  justify-content: start;
  align-items: center;
  display: none;
}
.menuIcon .MuiSvgIcon-root{
  font-size: 4.4rem;
  color: #fff;
}


/* ----------- Home ------------- */

.home_section{
  width: 100%;
  height: 66rem;
  margin-top: -1.3rem;
  display: grid;
  place-items: center;
  /* border: 2px solid red; */
}

.home_section .center_home{
  width: 115rem;
  height: 50rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  /* border: 2px solid red; */
}
.center_home .left_sec{
  width: 62rem;
  height: 20rem;
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  margin-left: .1rem;
  /* border: 2px solid red; */
}
.left_sec h1{
  font-weight: 900;
  text-transform: uppercase;
}
.left_sec span{
  color: var(--secondary_color);
}
.left_sec .icons{
  display: flex;
  flex-direction: row;
  transition: all .3s linear;

}
.left_sec .MuiSvgIcon-root{
  text-decoration: none;
  font-size: 3rem;
  margin-top: 1rem;
  margin-right: 3rem;
  cursor: pointer;
  color: #383737;
  transition: all .3s linear;
}
.icons .MuiSvgIcon-root:hover {
  color: var(--secondary_color);
  transition: all .3s linear;
  animation-fill-mode: forwards;
  transform: translateY(-1rem);
}
.left_sec h3{
  padding: 1rem 0;
  font-weight: 500;
  color: #383737;
  font-family: 'Poppins', sans-serif;
}
.center_home .right_sec{
  width: 35rem;
  height: 35rem;
  display: grid;
  place-items: center;
  margin-top: -3.5rem;
  margin-right: 13rem;
  filter: drop-shadow(1rem 1rem 1rem  rgb(88, 82, 82));
  /* border: 2px solid red; */
}
.center_home .right_sec img{
  height: 41rem;
  width: 56rem;
  background-color: var(--secondary_color);
  clip-path: ellipse(37% 50% at 50% 50%);
  filter: brightness(115%);
}


/* ----------- About ------------- */

.about_section{
  width: 100%;
  height: 78rem;
  display: grid;
  place-items: center;
  margin: .5rem 0;
  /* border: 2px solid red; */
}
.about_section .about_title{
  width: 38rem;
  font-size: 6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  display: grid;
  place-items: center;
  color: var(--title_color);
  text-shadow: var(--title_shadow);
  text-transform: uppercase;
  /* border: 2px solid red; */
}
.about_center{
  width: 115rem;
  height: 55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}
.about_left img{
  width: 48rem;
  height: 50rem;
  margin-left: 1.5rem;
  box-shadow: -2px 1px 27px 12px #C6CBCE;
  -webkit-box-shadow: -2px 1px 27px 12px #C6CBCE;
  -moz-box-shadow: -2px 1px 27px 12px #C6CBCE;
  -o-box-shadow: -2px 1px 27px 12px #C6CBCE;
  /* border: 2px solid red; */

}
.about_right {
  width: 56rem;
  height: 40rem;
  font-size: 1.5rem;
  margin-right: 2rem;
  /* border: 2px solid red; */
}
.about_right h2{
  font-size: 3.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  letter-spacing: .08rem;
  text-transform: capitalize;
  /* border: 2px solid red; */
}
.about_right p{
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  letter-spacing: .05rem;
  word-spacing: .1rem;
  line-height: 3rem;
  margin: 3rem 0;
  /* border: 2px solid red; */
}
.about_right .download{
  width: 13rem;
  height: auto;
  display: grid;
  place-items: center;
  /* border: 2px solid red; */
}
.about_right a{
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--secondary_color);
  color: #fff;
  border: 2px solid rgb(80, 78, 78);
  position: relative;
  transition: all 0.3s linear;
}

.about_right a:hover {
  background: #fff;
  color: var(--secondary_color);
}
/* --------------- Portfolio --------------------- */

.Port_title{
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: grid;
  place-items: center;
  color: var(--title_color);
  text-shadow: var(--title_shadow);
  text-transform: uppercase;
  margin: .5rem 0;
  /* border: 2px solid red; */
}
/* ---------------- Skill --------------------- */
.skill_section{
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  margin: 1rem 0;
  /* border: 2px solid red; */

}
.skill_title{
  font-size: 4.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: grid;
  place-items: center;
  margin: 1rem 0;
  color: var(--subtitle_color);
  text-shadow: var(--subtitle_shadow);
  text-transform: uppercase;
  /* border: 2px solid red; */
}
.skill_section .center_section{
  width: 115rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  transition: all 0.3s linear;
  /* border: 2px solid red; */
}
.skill_section .center_section .card{
  width: 32.6rem;
  height: 42rem;
  background-color: #F9F9F9;
  box-shadow: -4px 3px 17px -2px #D8DBDD;
  -webkit-box-shadow: -4px 3px 17px -2px #D8DBDD;
  -moz-box-shadow: -4px 3px 17px -2px #D8DBDD;
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: all 0.3s linear;
  /* border: 2px solid red; */
}
.skill_section .center_section .card::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #20c8e6;
  clip-path: circle(17.2% at 103% -1%);
  transition: all 0.4s linear;
  z-index: 1;
}

.center_section .card:nth-child(2)::after{
  background-color: rgb(178, 21, 240);
}
/* .center_section .card:nth-child(3)::after{
  background-color: #67c718;
} */
.center_section .card:nth-child(3)::after{
  background-color: #db5b06;
}
.center_section .card:hover::after{
  clip-path: circle(100%);
}

.skill_section .center_section .card:hover{
  transform: translateY(-1rem);
  color: #fff;
}

.center_section .card h2{
  width: 100%;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  display: grid;
  place-items: center;
  padding: 1rem 0;
  margin-top: 1.2rem;
  z-index: 12;
  /* border: 2px solid red; */
}

.center_section .card img{
  width: 30rem;
  height: 32rem;
  border-radius: 1rem;
  z-index: 12;
  /* border: 2px solid red; */
}

/* ----------------- Technology ----------------- */

.tech_section{
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  /* border: 2px solid red; */
}

.tech_title{
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  display: grid;
  margin: 1.5rem 0;
  place-items: center;
  color: var(--subtitle_color);
  text-shadow: var(--title_shadow);
  text-transform: uppercase;
  /* border: 2px solid red; */
}

.tech_section .tech_center{
  width: 115rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  transition: all 0.3s linear;
  /* border: 2px solid red; */
}

.tech_center .tech{
  width: 25rem;
  height: 25rem;
  display: grid;
  place-items: center;
  margin: 1rem 0;
  /* border: 2px solid red; */
}

.tech_center .tech img{
  width: 16rem;
  height: 16rem;
  box-shadow: -7px 6px 18px 2px #D8DBDD;
  -webkit-box-shadow: -7px 6px 18px 2px #D8DBDD;
  -moz-box-shadow: -7px 6px 18px 2px #D8DBDD;
  border-radius: 50%;
  transition: all 0.3s linear;
  /* border: 2px solid red; */
}

.tech_center .tech img:hover{
  transform: translateY(-1rem);
}

.tech_center .tech h2{
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #0b0b0c;
}

/* ----------------- Project ----------------- */

.project_section{
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  background-color: #f9f9f9;
  position: relative;
  margin-top: 1.5rem;
  /* border: 2px solid red; */
}

.project_section .project_title {
  font-size: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-top: 2rem;
  display: grid;
  place-items: center;
  color: var(--subtitle_color);
  text-shadow: var(--title_shadow);
  text-transform: uppercase;
  z-index: 2;
  /* border: 2px solid red; */
}

.project_section .project_nav{
  width: 115rem;
  height: 8rem;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  /* border: 2px solid red; */
}

.project_nav button{
  margin-left: 3rem;
  padding: .5rem 2rem;
  font-size: 1.9rem;
  cursor: pointer;
  background: transparent;
  font-weight: 500;
  border: none;
  font-family: 'Poppins', sans-serif;
  /* border: 2px solid red; */
}
.project_nav button:hover{
  color : var(--secondary_color);
}

.project_section .project_center{
  width: 115rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap:wrap;
  margin-bottom: 3rem;
  /* border: 2px solid red; */
}

.project_center .project{
  width: 36.2rem;
  height: 33.1rem;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin: 1rem 1rem;
  position: relative;
  background-color: rgb(3, 3, 3);
  transition: all 0.6s linear;
  z-index: 10;
  /* border: 2px solid red; */
}

.project img{
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.6s linear;
}

.project:hover img{
  transform: scale(1.2);
}

.project h2{
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -6rem;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  display: grid;
  place-items: center;
  color: rgb(0, 0, 0);
  padding: 1rem 0;
  background-color: rgb(255, 255, 255, 0.4);
  transition: all 0.4s linear;
}

.project:hover h2{
  bottom: 0;
}

/* --------------- Contact Us ---------------- */

.contact_section{
  width: 100%;
  height: 72rem;
  display: grid;
  place-items: center;
  background-image: url(../src/images/turnlight.svg);
  background-repeat: no-repeat;
  /* border: 2px solid red; */
}

.contact_section h2{
  font-size: 6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--title_color);
  text-shadow: var(--title_shadow);
  text-transform: uppercase;
  margin-top: 2.5rem;
  /* border: 2px solid red; */
}

.contact_section .center_contact{
  width: 60rem;
  height: 48rem;
  display: grid;
  place-items: center;
  margin-top: -3rem;
  /* border: 2px solid red; */
}

.center_contact .input_section{
  width: 50rem;
  height: 8rem;
  display: grid;
  place-items: center;
  /* border: 2px solid red; */
}

.center_contact label{
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--secondary_color);
  font-family: 'Roboto', sans-serif;
  /* border: 2px solid red; */
}

.input_section input{
  width: 45rem;
  height: 3.8rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  /* border: 2px solid red; */
}

.input_text{
  width: 50rem;
  height: 12rem;
  display: grid;
  place-items: center;
  margin-top: -0.5rem;
  /* border: 2px solid red; */
}

.input_text textarea{
  width: 45rem;
  height: 8rem;
  font-size: 1.5rem;
  margin-top: -1rem;
  font-family: 'Roboto', sans-serif;
  padding: .6rem 1rem;
  /* border: 2px solid red; */
}

.center_contact button{
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  padding: .5rem 4rem;
  cursor: pointer;
  background: transparent;
  color: #000;
  border: 2px solid rgb(80, 78, 78);
  transition: all 0.4s linear;
  /* border: 2px solid red; */
}

.center_contact button:hover{
  background: var(--secondary_color);
  color: #fff;
}

/* -------------- Footer --------------- */

.footer_section {
  width: 100%;
  height: 28rem;
  display: grid;
  place-items: center;
  background-color: rgb(29, 28, 28);
  color: #fff;
  /* border: 2px solid red; */
}

.footer_section .footer_center{
  width: 115rem;
  height: 24.5rem;
  display: grid;
  place-items: center;
  /* border: 2px solid red; */
}

.footer_top{
  width: 15rem;
  height: 5.2rem;
  display: grid;
  place-items: center;
  /* border: 2px solid rgb(187, 255, 0); */
}

.footer_top h2{
  font-size: 3.8rem;
  color: var(--title_color);
  font-family: 'Dancing Script', cursive;
}

.footer_middle{
  width: 95rem;
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid rgb(0, 140, 255); */
}

.footer_middle .left_section{
  width: 15rem;
  height: 15rem;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  /* border: 2px solid red; */
}

.footer_middle .left_section .anc{
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
}
.footer_middle .left_section h2{
  color: var(--secondary_color);
}

.footer_middle .right_section{
  width: 28rem;
  height: 15rem;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  /* border: 2px solid red; */
}
.footer_middle .right_section h2{
  color: var(--secondary_color);
}
.footer_middle .right_section .social_icons{
  width: 19rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icons .MuiSvgIcon-root{
  font-size: 3rem;
  color: #fff;
  margin: 0 1rem;
}

.footer_bottom{
  width: 115rem;
  display: grid;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  /* border: 2px solid rgb(255, 0, 242); */
}


  
/* -------------------- Media Query -------------------- */

/* ------------ Desktops and Laptops -------------- */

@media (min-width: 1024px){




}

/* ------------ Tablets and iPads -------------- */

@media (max-width: 1023px){
  
/*------------- Navbar ----------------  */
.menu{
  display: none;
} 
.togglerIcon img{
  width: 5rem;
  justify-items: center;
  align-items: center;
}
.navbar{
  height: 6rem;
  grid-template-columns: 4rem 1fr 1fr 6rem;
  grid-template-rows: 1fr 1fr;
}
.logo{
  padding-top: .6rem;
  font-size: 2.5rem;
}
.mobile_menu{
  height: 31rem;
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  place-items: center;
  background-color: var(--primary_color);
  z-index: 99;
  transition: all 2s linear;
}

.menuIcon{
  padding-top: .6rem;
  display: grid;
}

/* ----------- Home ------------- */

.home_section{
  width: 100%;
  height: 65rem;
}

.home_section .center_home{
  width: 100%;
  height: 50rem;
}
.center_home .left_sec{
  width: 40rem;
  height: 20rem;
  font-size: 2rem;
  margin-left: 2rem;
}
.left_sec .MuiSvgIcon-root{
  font-size: 3rem;
  margin-top: 1rem;
  margin-right: 3rem;
}
.center_home .right_sec{
  width: 26rem;
  height: auto;
}
.center_home .right_sec img{
  height: 30rem;
  width: auto;
}
/* ----------- About ------------- */

.about_section{
  width: 100%;
  height: 122rem;
}
.about_section .about_title{
  width: 100%;
  font-size: 6rem;
}
.about_section .about_center{
  width: 100%;
  height: 111rem;
  flex-direction: column;
  justify-content: space-evenly;
}
.about_left{
  width: 55%;
}
.about_left img{
  width: 100%;
  height: auto;
  margin: 0;
}
.about_right{
  width: 100%;
  height: 33rem;
  margin: 0;
  padding: 0 2rem;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 2rem;
}
.about_right h2{
  font-size: 3.4rem;
}
.about_right p{
  height: auto;
  font-size: 1.6rem;
  display: grid;
  place-items: center;
  word-spacing: .4rem;
}
.about_right .download{
  width: 100%;
  font-size: 1.8rem;
}
/* --------------- Portfolio --------------------- */
.Port_title{
  font-size: 3rem;
  margin-top: 2rem ;
}

/* ---------------- Skill --------------------- */
.skill_section{
  height: 113rem;
}
.skill_title{
  width: 100%;
  font-size: 4.6rem;
}
.skill_section .center_section{
  width: 85%;
  height: 102rem;
  flex-wrap: wrap;
}
.skill_section .center_section .card{
  width: 35rem;
  height: 42rem;
}
.center_section .card h2{
  font-size: 2.6rem;
}
.center_section .card img{
  width: 93%;
  height: 32rem;
}
/* ----------------- Technology ----------------- */
.tech_section{
  height: 158rem;
}
.tech_title{
  width: 100%;
  text-align: center;
  font-size: 3.4rem;
}
.tech_section .tech_center{
  width: 100%;
  height: 149rem;
}
.tech_center .tech{
  width: 28rem;
  height: 27rem;
  margin: .5rem 0;
}
.tech_center .tech img{
  width: 16rem;
  height: 16rem;
}
.tech_center .tech h2{
  font-size: 2.7rem;
}
/* ----------------- Project ----------------- */
  .project_section .project_title{
    width: 100%;
    text-align: center;
    font-size: 4rem;
  }
  .project_section .project_nav{
    width: 100%;
  }
  .project_nav h2{
    text-align: center;
    font-size: 2rem;
  }
  .project_section .project_center{
    width: 100%;
  }
  .project_center .project{
    width: 64%;
    height: 38rem;
  }
  .project img{
    object-fit: cover;
  }
  /* --------------- Contact Us ---------------- */
  .contact_section{
    height: 89rem;
  }
  .contact_section h2{
    width: 100%;
    text-align: center;
    font-size: 6rem;
  }
  .contact_section .center_contact{
    width: 100%;
    height: 69rem;
  }
  .center_contact .input_section{
    width: 100%;
    height: 13rem;
  }
  .center_contact label{
    font-size: 2rem;
  }
  .input_section input{
    width: 59rem;
    height: 5rem;
    font-size: 1.5rem;
  }
  .input_text{
    width: 100%;
    height: 15rem;
  }
  .input_text textarea{
    width: 59rem;
    height: 9rem;
    font-size: 2rem;
  }
  .center_contact button{
    font-size: 2rem;
  }
  /* -------------- Footer --------------- */

.footer_section {
  height: 28rem;
}
.footer_section .footer_center{
  width: 100%;
  height: 24.5rem;
}
.footer_top{
  width: 15rem;
  height: 5.2rem;
}
.footer_top h2{
  font-size: 3.8rem;
}
.footer_middle{
  width: 75rem;
  height: 15rem;
}
.footer_middle .left_section{
  width: 15rem;
  height: 15rem;
  margin-left: 6rem;
  font-size: 1.2rem;
}
.footer_middle .right_section{
  width: 28rem;
  height: 15rem;
  font-size: 1.2rem;
}
.footer_middle .right_section .social_icons{
  width: 19rem;
  height: 4rem;
}
.social_icons .MuiSvgIcon-root{
  font-size: 3rem;
  margin: 0 1rem;
}
.footer_bottom{
  width: 100%;
  margin-bottom: 1rem;
}

}
@media (max-width: 846px){

  /* ---------------- Skill --------------------- */
  .skill_section{
    height: auto;
  }
  .skill_title{
    width: 100%;
    font-size: 4.6rem;
  }
  .skill_section .center_section{
    width: 100%;
    height: auto;
  }
  .skill_section .center_section .card{
    width: 32rem;
    height: 42rem;
  }
  .center_section .card h2{
    font-size: 2.6rem;
  }
  .center_section .card img{
    width: 93%;
    height: 32rem;
  }
  /* ----------------- Technology ----------------- */
  .tech_title{
    width: 100%;
    text-align: center;
    font-size: 3.4rem;
  }
  .tech_section .tech_center{
    width: 100%;
  }
  .tech_center .tech{
    width: 28rem;
    height: 27rem;
    margin: .5rem 0;
  }
  .tech_center .tech img{
    width: 16rem;
    height: 16rem;
  }
  .tech_center .tech h2{
    font-size: 2.7rem;
  }
  /* -------------- Footer --------------- */
  .footer_section{
    height: 69rem;
  }
  .footer_section .footer_center{
    width: 100%;
    height: 63rem;
  }
  .footer_top{
    width: 100%;
    height: 8rem;
  }
  .footer_top h2{
    font-size: 4rem;
  }
  .footer_middle{
    width: 100%;
    height: 49rem;
    margin-left: 0;
    flex-direction: column;
  }
  .footer_middle .left_section{
    width: 100%;
    height: 22rem;
    margin-left: 0;
    font-size: 1.5rem;
  }
  .footer_middle .right_section{
    width: 100%;
    height: 22rem;
    font-size: 1.5rem;
  }
  .social_icons .MuiSvgIcon-root{
    font-size: 3rem;
    margin: 0 2rem;
  }
  .footer_bottom{
    width: 100%;
    height: 5rem;
    font-size: 1rem;
  }
}

/* ------------ Mobile Phones -------------- */

@media (max-width: 768px){
  /* ------ Navbar ------ */
  .navbar{
    width: 100%;
    grid-template-columns: 1.6rem 1fr 1fr 4.8rem;
  }
  .menuIcon{
    margin-top: .6rem;
  }
  .mobile_menu{
    height: 26rem;
  }
  .navbar .menu .anc{
    font-size: 1.8rem;
  }
  .togglerIcon img{
    width: 4.4rem;
  }
  .menuIcon .MuiSvgIcon-root{
    font-size: 3.8rem;
  }
  .navbar .nav_right{
    display: none;
    text-align: right;
  }
  .navbar .menuIcon{
    display: block;
  }
  /* ----------- Home ------------- */
  .home_section{
    width: 100%;
    height: 72rem;
  }
  .home_section .center_home{
    width: 100%;
    height: 63rem;
    justify-content: space-around;
    text-align: center;
    flex-direction: column-reverse;
  }
  .center_home .left_sec{
    width: 100%;
    font-size: 2.6rem;
    height: auto;
    margin: 0;
  }
  .left_sec .icons{
    display: flex;
    justify-content: center;
    margin-left: 3.5rem;
  }
  .left_sec .MuiSvgIcon-root{
    font-size: 3.4rem;
  }
  .center_home .right_sec{
    width: 100%;
    height: auto;
    margin: 0;
  }
  .center_home .right_sec img{
    width: 50rem;
    height: auto;
  }
  /* ----------- About ------------- */
  .about_section{
    width: 100%;
    height: 122rem;
  }
  .about_section .about_title{
    width: 100%;
    font-size: 6rem;
  }
  .about_section .about_center{
    width: 100%;
    height: 111rem;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about_left{
    width: 80%;
  }
  .about_left img{
    width: 100%;
    height: auto;
    margin: 0;
  }
  .about_right{
    width: 100%;
    height: 33rem;
    margin: 0;
    padding: 0 2rem;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 2rem;
  }
  .about_right h2{
    font-size: 3.4rem;
  }
  .about_right p{
    height: auto;
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    word-spacing: .4rem;
  }
  .about_right .download{
    width: 100%;
    font-size: 1.8rem;
  }

  /* --------------- Portfolio --------------------- */
  .Port_title{
    font-size: 3rem;
    margin-top: 2rem ;
  }

  /* ---------------- Skill --------------------- */
  .skill_section{
    height: auto;
  }
  .skill_title{
    width: 100%;
    font-size: 4.6rem;
  }
  .skill_section .center_section{
    width: 100%;
    height: auto;
  }
  .skill_section .center_section .card{
    width: 32rem;
    height: 42rem;
  }
  .center_section .card h2{
    font-size: 2.6rem;
  }
  .center_section .card img{
    width: 93%;
    height: 32rem;
  }

  /* ----------------- Technology ----------------- */
 
  .tech_title{
    width: 100%;
    text-align: center;
    font-size: 3.4rem;
  }
  .tech_section .tech_center{
    width: 100%;
  }
  .tech_center .tech{
    width: 28rem;
    height: 27rem;
    margin: .5rem 0;
  }
  .tech_center .tech img{
    width: 16rem;
    height: 16rem;
  }
  .tech_center .tech h2{
    font-size: 2.7rem;
  }

  /* ----------------- Project ----------------- */
  .project_section .project_title{
    width: 100%;
    text-align: center;
    font-size: 4rem;
  }
  .project_section .project_nav{
    width: 100%;
  }
  .project_nav h2{
    text-align: center;
    font-size: 2rem;
  }
  .project_section .project_center{
    width: 100%;
  }
  .project_center .project{
    width: 95%;
    height: 38rem;
    margin: 1rem 0;
  }
  .project img{
    object-fit: cover;

  }
  /* --------------- Contact Us ---------------- */
  .contact_section{
    height: 78rem;
    background-image: none;
  }
  .contact_section h2{
    width: 100%;
    text-align: center;
    font-size: 6rem;
  }
  .contact_section .center_contact{
    width: 100%;
    height: 56rem;
  }
  .center_contact .input_section{
    width: 100%;
    height: 10rem;
  }
  .center_contact label{
    font-size: 2rem;
  }
  .input_section input{
    width: 50rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  .input_text{
    width: 100%;
    height: 15rem;
  }
  .input_text textarea{
    width: 50rem;
    height: 9rem;
    font-size: 2rem;
  }
  .center_contact button{
    padding: 1rem 3rem;
    font-size: 2.2rem;
  }

  /* -------------- Footer --------------- */
  .footer_section{
    height: 69rem;
  }
  .footer_section .footer_center{
    width: 100%;
    height: 63rem;
  }
  .footer_top{
    width: 100%;
    height: 8rem;
  }
  .footer_top h2{
    font-size: 4rem;
  }
  .footer_middle{
    width: 100%;
    height: 49rem;
    flex-direction: column;
  }
  .footer_middle .left_section{
    width: 100%;
    height: 22rem;
    font-size: 1.5rem;
  }
  .footer_middle .right_section{
    width: 100%;
    height: 22rem;
    font-size: 1.5rem;
  }
  .social_icons .MuiSvgIcon-root{
    font-size: 3rem;
    margin: 0 2rem;
  }
  .footer_bottom{
    width: 100%;
    height: 5rem;
    font-size: 1rem;
  }

}

@media (max-width: 600px){ 
  /* ----------- Home ------------- */
  .home_section{
    height: 64rem;
  }
  .home_section .center_home{
    height: 54rem;
  }
  .center_home .left_sec{
    font-size: 1.8rem;
  }
  .center_home .right_sec img{
    width: 40rem;
    height: auto;
  }
  .left_sec .MuiSvgIcon-root{
    font-size: 2.7rem;
  }
  /* ----------- About ------------- */
  .about_section{
    height: 114rem;
  }
  .about_section .about_title{
    font-size: 5rem;
    margin-bottom: -8rem;
  }
  .about_section .about_center{
    height: 105rem;
  }
  .about_left{
    width: 80%;
  }
  .about_right{
    height: 30rem;
    font-size: 2rem;
  }
  .about_right h2{
    font-size: 3rem;
  }
  .about_right p{
    font-size: 1.5rem;
  }
  .about_right .download{
    font-size: 1.5rem;
  }
  /* --------------- Portfolio --------------------- */
  .Port_title{
    font-size: 2.4rem;
  }
  /* ---------------- Skill --------------------- */
  .skill_section{
    height: auto;
  }
  .skill_title{
    font-size: 3.7rem;
  }
  .skill_section .center_section{
    height: auto;
  }
  .skill_section .center_section .card{
    width: 32rem;
    height: 39rem;
  }
  .center_section .card h2{
    font-size: 2.8rem;
  }
  .center_section .card img{
    width: 87%;
    height: 27rem;
  }
  /* ----------------- Technology ----------------- */
 
  .tech_title{
    font-size: 2.6rem;
  }
  .tech_center .tech{
    width: 20rem;
    height: 22rem;
  }
  .tech_center .tech img{
    width: 13rem;
    height: 13rem;
  }
  .tech_center .tech h2{
    font-size: 2rem;
  }
  /* ----------------- Project ----------------- */
  .project_nav h2{
    font-size: 1.6rem;
  }
  .project_center .project{
    width: 95%;
    height: 38rem;
    margin: 1rem 0;
  }
  /* --------------- Contact Us ---------------- */
  .center_contact label{
    font-size: 1.7rem;
  }
  .input_section input{
    width: 42rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  .input_text textarea{
    width: 42rem;
    height: 9rem;
    font-size: 1.8rem;
  }
  .center_contact button{
    font-size: 1.7rem;
  }

}
@media (max-width: 450px){
   /* ----------- Navbar ----------- */
   .navbar{
    height: 5.5rem;
    grid-template-columns: 1.6rem 1fr 1fr 4.5rem;
  }
  .mobile_menu{
    height: 28rem;
  }
  .logo{
    padding-top: 1rem;
    font-size: 2.3rem;
  }
  .menuIcon{
    margin-top: .6rem;
  }
  .menuIcon .MuiSvgIcon-root{
    font-size: 3.4rem;
  }
  /* ----------- Home ------------- */
  .home_section{
    height: 55rem;
  }
  .home_section .center_home{
    height: 44rem;
  }
  .center_home .left_sec{
    font-size: 1.4rem;
  }
  .center_home .right_sec img{
    width: 31rem;
    height: auto;
  }
  .left_sec .MuiSvgIcon-root{
    font-size: 2.5rem;
  }
  /* ----------- About ------------- */
  .about_section{
    height: 93rem;
  }
  .about_section .about_title{
    font-size: 3.9rem;
    margin-bottom: -8rem;
  }
  .about_section .about_center{
    height: 87rem;
  }
  .about_left{
    width: 80%;
  }
  .about_right{
    height: 33rem;
    font-size: 2rem;
  }
  .about_right h2{
    font-size: 2.3rem;
  }
  .about_right p{
    font-size: 1.3rem;
  }
  .about_right .download{
    font-size: 1.1rem;
  }
  /* --------------- Portfolio --------------------- */
  .Port_title{
    font-size: 2rem;
  }
  /* ---------------- Skill --------------------- */
  .skill_section{
    height: auto;
  }
  .skill_title{
    font-size: 3rem;
  }
  .skill_section .center_section{
    height: auto;
  }
  .skill_section .center_section .card{
    width: 24rem;
    height: 32rem;
  }
  .center_section .card h2{
    font-size: 2rem;
  }
  .center_section .card img{
    width: 93%;
    height: 23rem;
  }
  /* ----------------- Technology ----------------- */
  .tech_title{
    font-size: 2rem;
  }
  .tech_center .tech{
    width: 17rem;
    height: 17rem;
  }
  .tech_center .tech img{
    width: 10.5rem;
    height: 10.5rem;
  }
  .tech_center .tech h2{
    font-size: 1.7rem;
  }
  /* ----------------- Project ----------------- */
  
  .project_section .project_title{
    font-size: 2.5rem;
  }
  .project_section .project_nav{
    height: 6rem;
  }
  .project_nav h2{
    font-size: 1.2rem;
  }
  .project_center .project{
    width: 95%;
    height: 26rem;
  }
  /* --------------- Contact Us ---------------- */
  .contact_section{
    height: 58rem;
  }
  .contact_section h2{
    font-size: 3.5rem;
  }
  .contact_section .center_contact{
    height: 45rem;
  }
  .center_contact .input_section{
    height: 8rem;
  }
  .center_contact label{
    font-size: 1.7rem;
  }
  .input_section input{
    width: 33rem;
    height: 3.5rem;
    font-size: 1.3rem;
  }
  .input_text{
    height: 14rem;
  }
  .input_text textarea{
    width: 33rem;
    height: 9rem;
    font-size: 1.3rem;
  }
  .center_contact button{
    font-size: 1.3rem;
  }
  /* -------------- Footer --------------- */
  .footer_section{
    height: 60rem;
  }
  .footer_section .footer_center{
    height: 54rem;
  }
  .footer_top{
    height: 8rem;
  }
  .footer_top h2{
    font-size: 3rem;
  }
  .footer_middle{
    height: 45rem;
    flex-direction: column;
  }
  .footer_middle .left_section{
    height: 22rem;
    font-size: 1.3rem;
  }
  .footer_middle .right_section{
    height: 22rem;
    font-size: 1.3rem;
  }
  .social_icons .MuiSvgIcon-root{
    font-size: 2.8rem;
    margin: 0 2rem;
  }
  .footer_bottom{
    height: 5rem;
    font-size: .7rem;
  }
}
@media (max-width: 345px){
  /* ----------- Navbar ----------- */
  .navbar{
    grid-template-columns: 1rem 1fr 1fr 4rem;
  }
  .logo{
    padding-top: 1rem;
    font-size: 2rem;
  }
  .mobile_menu{
    height: 24rem;
  }
  .navbar .menu .anc{
    font-size: 1.5rem;
  }
  .menuIcon{
    margin-top: .6rem;
  }
  .menuIcon .MuiSvgIcon-root{
    font-size: 3.4rem;
  }
  .togglerIcon img{
    width: 3.6rem;
  }
  /* ----------- Home ------------- */
  .home_section{
    height: 43rem;
  }
  .home_section .center_home{
    height: 34rem;
  }
  .center_home .left_sec{
    font-size: 1.2rem;
  }
  .center_home .right_sec img{
    width: 22rem;
    height: auto;
  }
  .left_sec .MuiSvgIcon-root{
    font-size: 1.7rem;
  }
  /* ----------- About ------------- */
  .about_section {
    height: 82rem;
  }
  .about_section .about_center {
    height: 77rem;
  }
  .about_section .about_title{
    font-size: 3.2rem;
  }
  /* --------------- Portfolio --------------------- */
  .Port_title{
    font-size: 1.6rem;
  }
  /* ---------------- Skill --------------------- */
  .skill_section{
    height: auto;
  }
  .skill_title{
    font-size: 2.5rem;
  }
  .skill_section .center_section{
    height: auto;
  }
  .skill_section .center_section .card{
    width: 22rem;
    height: 29rem;
  }
  .center_section .card h2{
    font-size: 1.7rem;
  }
  .center_section .card img{
    height: 20rem;
  }
  /* ----------------- Technology ----------------- */
  
  .tech_title{
    font-size: 1.7rem;
  }
  .tech_center .tech{
    width: 14rem;
    height: 16rem;
  }
  .tech_center .tech img{
    width: 9rem;
    height: 9rem;
  }
  .tech_center .tech h2{
    font-size: 1.3rem;
  }
  /* ----------------- Project ----------------- */
  .project_section .project_title{
    font-size: 2rem;
  }
  .project_section .project_nav{
    justify-content: center;
  }
  .project_nav button{
    font-size: 1.5rem;
    margin-left: 0;
    padding: .5rem 1.4rem;
  }
  .project_center .project{
    width: 95%;
    height: 20rem;
  }
  /* --------------- Contact Us ---------------- */
  .contact_section{
    height: 57rem;
  }
  .contact_section h2{
    font-size: 2.6rem;
  }
  .center_contact label{
    font-size: 1.4rem;
  }
  .input_section input{
    width: 25rem;
    font-size: 1.1rem;
  }
  .input_text textarea{
    width: 25rem;
    font-size: 1.1rem;
  }
  .center_contact button{
    font-size: 1.2rem;
  }
/* -------------- Footer --------------- */
.footer_section{
  height: 60rem;
}
.footer_section .footer_center{
  height: 54rem;
}
.footer_top{
  height: 8rem;
}
.footer_top h2{
  font-size: 2.6rem;
}
.footer_middle{
  height: 45rem;
  flex-direction: column;
}
.footer_middle .left_section{
  height: 22rem;
  font-size: 1.1rem;
}
.footer_middle .right_section{
  height: 22rem;
  font-size: 1.1rem;
}
.social_icons .MuiSvgIcon-root{
  font-size: 2.3rem;
}
.footer_bottom{
  height: 5rem;
  font-size: .6rem;
}

}
